.price-container {
  // width: 100rem;
  // height: 75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
}

.choosePlan-text {
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1.88rem;
}




