.priceCard, .enterPriseCard { 
  padding:2.31rem 3rem 2.19rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: #fff;
  border-radius: 0.625rem;
  background: #22262C;
  box-sizing: border-box;
}

.type {
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;  
  margin-bottom:1.12rem;
}
 
.price {
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.enterPriseCard {
  .price {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.featList {
  display:flex;
  width: 100%;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.feature {
  color: #FFF;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 250% */
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #BC1E4A;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.month-year-text {
  color: #FFF;
  font-family: Open Sans;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dropdown-maus {
  width: 100%;
}

.select-maus {
  display:flex;
  align-items:center;
  justify-content: center;
  border-radius: 0.1875rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 4.25rem;
  padding-left: 2.97rem;
  padding-right: 1.81rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  width: 100%;
}

.maus {
  width: inherit;
  color: #FFF;
  font-family: Open Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  outline: none;
  background: #22262C;
  &:hover {
    cursor: pointer;
  }
}

.mau-list {
  &:hover {
    cursor: pointer;
  }
}

.mau-text {
  color: #BC1E4A;
  font-family: Open Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  text-align: left;
  margin-left: 2rem;
}