.banner {
  display: flex;
  flex-direction: column;  
  padding: 1.56rem 0;
  justify-content: center;
  align-items: center;
  border-radius: 0rem 0rem 0.625rem 0.625rem;
  background: #BC1E4A;
  width: 26.125rem;
  margin-bottom: 8.69rem;
}

.banner-text {
  color: #FFF;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem; /* 131.25% */
}

.banner-type {
  color: #FFF;
  font-family: Open Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}