.contactForm {
  display: flex;
  justify-content: center;
  padding: 6.56rem 0rem;
  align-items: center;
  background: linear-gradient(90deg, #62B2FF 0.38%, #6E9AFF 0.38%, #63B0FF 0.39%, #7985FF 107.63%, #6D9CFF 107.63%);
}